<div fxFlex="100" fxLayoutAlign="center">
  <mat-card class="full-card">
    <div style="float: left; width: 20%; height: 100%; background-color: #CCC; overflow-y: scroll">
      <div fxLayoutAlign="space-around center">

        <div fxFlex="20">
          <button mat-button style="padding-left: 0;">
            <mat-icon (click)="backToMenu()">keyboard_backspace</mat-icon>
          </button>
        </div>

        <div fxFlex="40">
          <mat-toolbar style="background-color: #CCC">eMapis</mat-toolbar>
        </div>

        <div fxFlex="40">
          <button [matMenuTriggerFor]="menu" mat-button>ADD NEW</button>
          <mat-menu #menu="matMenu">
            <button [routerLink]="['add-working-set']" mat-menu-item>Working set</button>
            <button [routerLink]="['add-rule']" mat-menu-item>Rule</button>
            <button [routerLink]="['add-category']" mat-menu-item>Category</button>
          </mat-menu>
        </div>
      </div>

      <div class="mat-typography">
        <mat-toolbar class="search-block" style="background-color: #CCCCCC !important;">
          <mat-toolbar-row style="padding: 0 5px; justify-content: center">
            <div style="background-color: white; border-radius: 15px">
              <button class="search-icon" disabled mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
              <input (input)="searchText=$event.target.value" [formControl]="formControl"
                     [matAutocomplete]="auto"
                     style="border: none !important; outline: none !important; font-size: 1rem; max-width: 80%;"
                     [value]="searchText" placeholder="Search" type="text">
              <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                <mat-option (onSelectionChange)="optionSelect(option)"
                            *ngFor="let option of filteredSearchOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <button (click)="searchClose()" *ngIf="searchText!=''" mat-button mat-icon-button
                      style="flex: auto">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <mat-accordion [multi]="true">
        <mat-expansion-panel style="background-color: #CCCCCC; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Working sets</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #workingSetList [multiple]="false">
            <mat-list-option (click)="disableOthers(ruleList, categoryList)"
                             *ngFor="let workingSet of workingSets" [routerLink]="['working-set',
             workingSet.id]">
              {{workingSet.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-expansion-panel style="background-color: #CCCCCC; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Rules</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #ruleList [multiple]="false">
            <mat-list-option (click)="disableOthers(workingSetList, categoryList)"
                             *ngFor="let rule of rules"
                             [routerLink]="['rule', rule.id]">
              {{rule.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-expansion-panel style="background-color: #CCCCCC; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Categories</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #categoryList [multiple]="false">
            <mat-list-option (click)="disableOthers(workingSetList, ruleList)"
                             *ngFor="let category of categories" [routerLink]="['category',
            category.id]">
              {{category.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div style="float: right; width: 80%; height: 100%; overflow-y: scroll">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
