<div class="page-container">

  <div style="padding-bottom: 1em">
    <mat-card-header>
      <mat-card-title class="card-title center">Add new rule</mat-card-title>
    </mat-card-header>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="row">
      <mat-label fxFlex="20" fxLayoutAlign="start center">
        Title:
      </mat-label>
      <mat-form-field fxFlex="40">
        <input matInput placeholder="The title of the rule">
      </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row">
      <mat-label fxFlex="20" fxLayoutAlign="start center">
        Description:
      </mat-label>
      <mat-form-field fxFlex="40">
        <input matInput placeholder="The description of the rule">
      </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row">
      <mat-label fxFlex="20" fxLayoutAlign="start center">
        Status:
      </mat-label>
      <mat-radio-group class="mat-input-like fixed-values" fxFlex="40"
                       aria-label="Select an option" color="primary">
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button style="padding-left: 10px" value="2">Inactive</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxFlex="100" fxLayout="row">
      <mat-label fxFlex="20" fxLayoutAlign="start center">
        Category:
      </mat-label>
      <mat-form-field fxFlex="40">
        <mat-label>Choose a category</mat-label>
        <mat-select  multiple>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" class="fixed-values mat-input-like">
      <input #xmlInput (change)="inputFile($event)" accept=".xml" hidden="true" onclick="this.value=null" type="file"/>
      <button (click)="xmlInput.click()" mat-button>
        Choose a DMN xml file
      </button>
    </div>

    <div fxFlex="100" fxLayout="row wrap-reverse" fxLayoutAlign="end center" style="margin-top: 1em;">
      <button (click)="cancel()" fxFlex.xs="100" mat-button
              style="margin-right: 0.5em" tabindex="-1">
        CANCEL
      </button>
      <button (click)="addRule()" fxFlex.xs="100" mat-button>
        CREATE
      </button>
    </div>

  </div>
</div>
