<div class="page-container">

  <div fxLayoutAlign="space-between start">
    <div fxFlex="45">
      <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
      </mat-card-header>
    </div>
    <div fxFlex="45">
      <mat-form-field style="float: right">
        <mat-label>More actions</mat-label>
        <mat-select>
          <mat-optgroup label="{{name}}">
            <mat-option [routerLink]="['add', 1]">
              <mat-icon>photo_camera</mat-icon>
              Create version
            </mat-option>
            <mat-option (click)="deleteRule()">
              <mat-icon>delete</mat-icon>
              Delete
            </mat-option>
          </mat-optgroup>
          <mat-divider style="margin-top: 1em;"></mat-divider>
          <mat-optgroup label="{{versionName}}">
            <mat-option (click)="deleteVersion()" [disabled]="!version">
              <mat-icon>delete</mat-icon>
              Delete version
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap">
    <form (ngSubmit)="editComplete()" [formGroup]="ruleForm"
          fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">

      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">
        <div fxFlex="100" fxLayout="row">
          <mat-label fxFlex="30" fxLayoutAlign="start center">
            Name:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input formControlName="name" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label fxFlex="30" fxLayoutAlign="start center">
            Description:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input formControlName="description" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label fxFlex="30" fxLayoutAlign="start center">
            Active:
          </mat-label>
          <mat-checkbox class="fixed-values mat-input-like" color="primary"
                        formControlName="status">
          </mat-checkbox>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label fxFlex="30" fxLayoutAlign="start center">
            Category:
          </mat-label>
          <mat-form-field fxFlex="50">
            <mat-select [compareWith]="checkCategories" formControlName="categories" multiple>
              <mat-option *ngFor="let category of allCategories" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">

        <div fxFlex="100" fxLayout="row">
          <mat-label class="mat-input-like fixed-values" fxFlex="30" fxLayoutAlign="start center">
            Created by:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input formControlName="createdBy" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label class="mat-input-like fixed-values" fxFlex="30" fxLayoutAlign="start center">
            Created on:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input [value]="ruleForm.get('createdOn').value | date:'medium'"
                   formControlName="createdOn" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label class="mat-input-like fixed-values" fxFlex="30" fxLayoutAlign="start center">
            Last modified by:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input formControlName="modifiedBy" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row">
          <mat-label class="mat-input-like fixed-values" fxFlex="30" fxLayoutAlign="start center">
            Last modified on:
          </mat-label>
          <mat-form-field fxFlex="50">
            <input [value]="ruleForm.get('modifiedOn').value | date:'medium'"
                   formControlName="modifiedOn" matInput>
          </mat-form-field>
        </div>

      </div>

      <mat-divider inset style="margin-top: 1em; margin-bottom: 1em"></mat-divider>

      <div *ngIf="version" fxLayout="row wrap" fxLayoutAlign="space-between start"
           style="width: 100%;">

        <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
          <mat-form-field>
            <mat-select (valueChange)="changeVersion($event)" [value]="version">
              <mat-option *ngFor="let ver of ruleVersions" [value]="ver">
                {{ver.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input formControlName="currentVersionDescription" matInput style="padding-bottom: 2em"/>
        </div>
        <div fxFlex.sm="100" fxFlex.xs="100"
             style="padding-left: 1em; justify-content: flex-end;">
          <p *ngIf="version">Created by {{version.createdBy}}
            on {{version.createdOn | date:'medium'}}</p>
          <p *ngIf="isModified">Last modified by {{version.modifiedBy}}
            on {{version.modifiedOn | date:'medium'}}</p>
        </div>

        <div *ngIf="version" style="padding-top: 2em; width: 100%;">
          <mat-label>
            DMN xml file
          </mat-label>
          <div [(text)]="dmn" [mode]="'xml'" [readOnly]="!edit" [theme]="'eclipse'" ace-editor
               style="border: 1px solid lightgray; min-height: 400px; width:100%; overflow: auto;">
          </div>
        </div>
      </div>

      <div class="page-container" style="width: 95%; text-align: right">
        <button (click)="editRule()" *ngIf=!edit mat-button style="vertical-align: top;">
          EDIT
        </button>
        <button (click)="cancel()" *ngIf=edit mat-button style=" vertical-align: top;">
          CANCEL
        </button>
        <button *ngIf=edit mat-button style="margin-left: 1.5em" type="submit">
          SAVE
        </button>
      </div>
    </form>
    <div *ngIf="version && edit" fxFlex="100" fxLayout="row">
      <input #xmlInput (change)="inputFile($event)" accept=".xml" hidden type="file"/>
      <button (click)="xmlInput.click()" mat-button>
        UPLOAD
      </button>
      <button [routerLink]="['dmn-editor']" [state]="{id: version.id, data: dmn, rule: rule.name,
       version: version.name}" mat-button>
        EDIT
      </button>
    </div>
  </div>

</div>
