th, td {
  padding: 15px;
}

p {
  margin: 0;
}

.mat-divider.mat-divider-inset {
  margin: 0;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  margin-bottom: 0.7rem;

pre {
  white-space: pre !important;
}
}
